table{
    width:400px;
    border-spacing:4px;
}
th{
    text-align:center;
}
table,th,td{
    border:1px solid #000;
}
th,td{
    padding:10px;
}
tr:nth-child(even){
    background-color: #fff;
}
tr:nth-child(odd){
    background-color: #ddd;
}
